@model HomeViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="card card-custom">
 <div class="card-header">
  <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
   <h3 class="card-label">
   StudyCatalogue
    <small>Details</small>
   </h3>
  </div>
        
 </div>
 <div class="card-body">
 <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyCatalogue.Title)
        </dt>
        <dd class = "col-sm-10 ">
            @Html.DisplayFor(model => model.StudyCatalogue.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyCatalogue.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyCatalogue.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyCatalogue.StudyLead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyCatalogue.StudyLead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyCatalogue.Status)
        </dt>
         <dd class = "col-sm-10">
        @if (Model.StudyCatalogue.Status == true)
                            {
                                <a class="btn btn-light-success font-weight-bold">Active</a>

                            }
                            else
                            {
                                <a class="btn btn-light-danger font-weight-bold">Deactive</a>

                            }
                            </dd>

        <dt class = "col-sm-2">
            Data Included?
        </dt>
         <dd class = "col-sm-10">
        @if(Model.dataCoreFileOnSystemModel?.Where(m=>m.StudyCatalogueId == Model.StudyCatalogue.Id).Count() != 0 )
                            {
                                <a class="btn btn-light-success font-weight-bold" href="/DataScientist/DataCenter/DownloadCentral?filename=@Model.DataCoreFileOnSystemModel?.Name"> @Html.DisplayFor(model => model.DataCoreFileOnSystemModel.Title)</a>


                            }
                            else
                            {
                                <a class="btn btn-light-danger font-weight-bold">No Data Is Included</a>

                            }
                            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyCatalogue.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyCatalogue.StartDate)
        </dd>
    </dl>
 </div>
    <div class="card-footer d-flex justify-content-between">
        <a  asp-action="Edit" asp-route-id="@Model?.StudyCatalogue.Id" class="btn btn-light-primary font-weight-bold">Edit</a>
        <a asp-area="DataScientist" asp-controller="StudyCenter" asp-action="Analysis" asp-route-id="@Model.StudyCatalogue.Id" class="btn btn-light-primary btn-lg btn-block font-weight-bold">Analysis related to this Catalogue?</a>
        <a asp-action="Index" class="btn btn-secondary font-weight-bold">Back to List</a>
 </div>
</div>




