@model IEnumerable<FL_Server.Models.Models.ModelCatalogue>

@{
    ViewData["Title"] = "Index";
}





<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                Model Catalogue
                <small>Lets learn from each other</small>
            </h3>
        </div>
        <div class="card-toolbar">
            <a asp-action="Create" class="btn btn-sm btn-light-primary font-weight-bold">
                <i class="flaticon2-cube"></i> Create New Model Catalogue?
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Kind)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudyLead)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Kind)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudyLead)
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <a class="btn btn-light-success font-weight-bold">Active</a>

                            }
                            else
                            {
                                <a class="btn btn-light-danger font-weight-bold">Deactive</a>

                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a asp-area="DataScientist" asp-controller="ModelCenter" asp-action="Index" class="btn btn-light-primary font-weight-bold">List of All Models?</a>
        <a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
    </div>
</div>












